*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app{
  width: 100vw;
  height: 100vh;
}

.header{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.column-wrapper{
  display: flex;
}

.column-header{
  display: flex;
  justify-content: space-between;
}

.column {
  background-color: rgba(235, 236, 240, 0.6);
  width: 400px;
  height: max-content;
  border-radius: 4px;
  border: 2px solid;
  margin: 20px;
  cursor: grab;
  padding: 5px 5px;
  transition: max-content 2s;
}



.task {
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 2px;
  padding: 5px;
}

.task-footer{
  display: flex;
  justify-content: space-between;
}

.current {
  background-color: transparent;
  color: transparent;
}

.add {
  width: 25px;
  height: 25px;
  background: #06b5c2;
  transform: rotate(0deg);
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
  transition: 0.4s cubic-bezier(0.2, 0.6, 0.3, 1.1);
}
.add:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 50%;
  background: white;
}

.add:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 2px;
  background: white;
}

.add.active {
  transform: rotate(360deg);
  background: rgb(236, 157, 8);
}

.add.active:before {
  width: 0;
}

.task_form {
  padding: 10px;
}
.task_description{
  display: block;
  outline: none;
  resize: none;
  width: 100%;
}

.task_form input {
  width: 100%;
  outline: none;
}

.task_form label {
  display: block;
  margin-bottom: 5px;
}